/*Grid das tres paginas feitas e bonus imagem de fundo, o grid-template-rows tem a funçao principal do site que é ocupar o espaço visivel do site, grid-template-areas é tipo
desenhar as colunas, adendo se a pagina estiver quebrada é por causa do meu monitor vo coloca imagems se caso quebrar na mesma pasta*/
body{
    margin: 0;
    padding: 0;
}
.bodyHome{
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}
.bodyQSN{
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-areas: "header header header"
                         "main main aside"
                         "footer footer footer";
}
.bodyForm{
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 15vh auto auto min-content;
    grid-template-areas: "header header header header header"
                         ". . main . ."
                         ". comentario comentario comentario ."
                         ". comentario comentario comentario ."
                         "footer footer footer footer footer";
}
.backgroundImg{
    background-image: url(https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2021/11/fatec-sao-jose-dos-campos2_divulgacao.jpg);
    background-size: cover;
    backdrop-filter: blur(3.5px);
}




/*Cabesario simples*/
header{
    height: 64px;
    line-height: 64px;
    grid-area: header;
    background-color: red;
    
}
header a{
    color: white;
    text-decoration: none;
    margin: 0 12px;
}
header img{
    height: 32px;
    position: absolute;
    right: 15px;
    top: 15px;
}

/*Conteudo da pagina separado em Imagem Texto Lista barra lateral e comentarios*/
main{
     grid-area: main;
     
}
.sectionImg{
    margin: 2vh 0 0 0;
    text-align: center;
}
.sectionImg img{
    border-radius: 12px;
    height: 70vh;
}
.sectionText{
    margin: 2vh 4vw 0 4vw;
    padding: 0 2vh;
    border: 1px black dashed;
    border-radius: 12px;
    background-color: antiquewhite;
}
.sectionList{
    margin: 2vh 1vw 0 1vw;
    padding: 0 1vw;
    border: 1px black dashed;
    border-radius: 12px;
    background-color: antiquewhite;
}
.aside{
    grid-area: aside;
}
.Comentario{
    grid-area: comentario;
    margin: 2vh 0 0 0;
}


/*Rodapé Bem Basico msm*/
footer{
    grid-area: footer;
    margin: 2vh 0 0 0;
    height: 80px;
    line-height: 80px;
    background-color: gray;
}
footer p{
    margin: 0 3vw;
}

textarea{
    resize: none;
}